extends ../layout/index

block content
  body
    
    header
      h2.logo Logo
      nav.navigation
        a(href="#") Hogar
        a(href="#") Contactanos
        button.btnLogin-popup Inicio de Sesión

    .wrapper
      span.icon-close
        ion-icon(name="close-outline")
      .form-box.login
        h2 Inicio de Sesión
        form(action="" method="POST" novalidate)
          .input-box
            span.icon
              ion-icon(name="mail-outline")
            input(type="email", required)
            label(for="") Correo Electronico
          .input-box
            span.icon
              ion-icon(name="lock-closed-outline")
            input(type="password", required)
            label(for="") Contraseña
          .remember-forgot
            label
              .input(type="checkbox") Recuerdame 
              a(href="#") ¿Olvide mi Contraseña?
          button.btn(type="submit") Iniciar Sesión
          .login-register
            p ¿No tienes una Cuenta?
              a.register-link(href="/auth/login/register") Registrate

    // Enlace al archivo CSS específico para esta vista
    link(rel='stylesheet', href=`${cssFile}`)

    script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
