extends ../layout/index

block content
  body
    
    header
      h2.logo Logo
      nav.navigation
        a(href="#") Home
        a(href="#") Contactanos
        button.btnLogin-popup Login

    .wrapper
      span.icon-close
        ion-icon(name="close-outline")
      .form-box.login
        h2 Login
        form(action="#")
          .input-box
            span.icon
              ion-icon(name="mail-outline")
            input(type="email", required)
            label(for="") Email
          .input-box
            span.icon
              ion-icon(name="lock-closed-outline")
            input(type="password", required)
            label(for="") Contraseña
          //- .remember-forgot
          //-   label
          //-     input(type="checkbox") Remember me 
          //-     a(href="#") Forgot Password?
          button.btn(type="submit") Login
          .login-register
            p ¿No tienes una Cuenta?
              a.register-link(href="#") Registrate

    script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
