extends ../layout/index

block content
  body

    header
      h2.logo Logo
      nav.navigation
        a(href="#") Home
        a(href="#") Contactanos
        button.btnLogin-popup Login

    .wrapper
      span.icon-close
        ion-icon(name="close-outline")
      .form-box.register
        h2 Registro
        form(action="#" method="POST" novalidate)
          .input-box
            span.icon
              ion-icon(name="person-outline")
            input(type="text", required)
            label(for="") Nombre de Usuario
          .input-box
            span.icon
              ion-icon(name="mail-outline")
            input(type="email", required)
            label(for="") Correo Electronico
          .input-box
            span.icon
              ion-icon(name="lock-closed-outline")
            input(type="password", required)
            label(for="") Contraseña
          .input-box
            span.icon
              ion-icon(name="repeat-outline")
            input(type="password", required)
            label(for="") Repite tu Contraseña
          .remember-forgot
            label
              .input(type="checkbox") Recuérdame
              a(href="#") ¿Olvidé mi contraseña?
          button.btn(type="submit") Registrarme
          .login-register
            p ¿Ya tienes una Cuenta?
              a.register-link(href="/auth/login") Inicia Sesión
      link(rel='stylesheet', href=`${cssFile}`)

    script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
