extends ../layout/index

block content
    .wrapper
      span.icon-close
        ion-icon(name="close-outline")
      .form-box.register
        h2 Registro
        form(action="register/" method="POST" novalidate)
          //- input(type="hidden" name="_csrf" value= csrfToken)
          .input-box
            span.icon(for="name")
              ion-icon(name="person-outline")
            input(type="text", required id="name")
            label(for="") Nombre de Usuario
          .input-box
            span.icon(for="email")
              ion-icon(name="mail-outline")
            input(type="email", required id="email")
            label(for="email") Correo Electronico
          .input-box
            span.icon(for="password")
              ion-icon(name="lock-closed-outline")
            input(type="password", required id="password")
            label(for="password") Contraseña
          .input-box
            span.icon(for="password-repeat")
              ion-icon(name="repeat-outline")
            input(type="password", required id="password-repeat")
            label(for="") Repite tu Contraseña
          .remember-forgot
            label
              .input(type="checkbox") Recuérdame
              a(href="#") ¿Olvidé mi contraseña?
          button.btn(type="submit") Registrarme
          .login-register
            p ¿Ya tienes una Cuenta?
              a.register-link(href="/auth/login") Inicia Sesión

      link(rel='stylesheet', href=`${cssFile}`)

    script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
