doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienvenido
        link(rel="stylesheet",href="/public/css/home.css" type="text/css")
    body 
        header 